@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #e4e9f2;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c9c5b9 transparent;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.001ms !important;
    transition-duration: 0.001ms !important;
  }
}
